<!-- Team area start -->
<section class="ew-team-area pt-124 pb-130">
    <div class="container container-1617">
        <div class="row">
            {% if module.subtitle or module.heading %}
            <div class="col-lg-12">
                <div class="ew-section-title text-center pb-40">
                    {% if module.subtitle %}
                        <span>{{ module.subtitle }}</span>
                    {% endif %}
                    {% if module.heading %}
                        <h2 class="ew-text-revel-anim">{{ module.heading }}</h2>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            
            {% if module.team_members and module.team_members|length > 0 %}
                {% for item in module.team_members %}
                    {% set img_index = (loop.index0 % 4) + 1 %}
                    {% set image_src = item.image.src if item.image.src else get_asset_url('../../images/team/team' ~ img_index ~ '.jpg') %}
                    {% set alt_text = item.image.alt if item.image.alt else (item.member_name if item.member_name else 'team') %}
                    {% set member_href = item.link_url.url.href if item.link_url.url.href else '' %}
                    {% set member_target = '_blank' if item.link_url.open_in_new_tab else '_self' %}
                    {% set member_rel = 'noopener' if item.link_url.open_in_new_tab else '' %}
                    {% set bottom_class = 'team-bottom2' if loop.index > 2 else 'team-bottom' %}
                    
                    <div class="col-lg-6 col-xl-3 col-xxl-3">
                        <div class="ew-team-box {{ bottom_class }}">
                            <div class="ew-team-thumb">
                                <img src="{{ image_src }}" alt="{{ alt_text }}">
                                <div class="ew-team-text">
                                    <div class="ew-team-text-inner">
                                        {% if item.member_name %}
                                            <h3>
                                                {% if member_href %}
                                                    <a href="{{ member_href }}" target="{{ member_target }}" {% if member_rel %}rel="{{ member_rel }}"{% endif %}>{{ item.member_name }}</a>
                                                {% else %}
                                                    {{ item.member_name }}
                                                {% endif %}
                                            </h3>
                                        {% endif %}
                                        
                                        {% if item.designation %}
                                            <span>{{ item.designation }}</span>
                                        {% endif %}
                                        
                                        {% if item.show_social_links %}
                                            {% set has_custom_links = item.twitter_url.url.href or item.instagram_url.url.href or item.linkedin_url.url.href or item.facebook_url.url.href or item.github_url.url.href or item.youtube_url.url.href or item.dribbble_url.url.href %}
                                            <ul>
                                                {% if has_custom_links %}
                                                    {% if item.twitter_url.url.href %}
                                                        {% set tw_target = '_blank' if item.twitter_url.open_in_new_tab else '_self' %}
                                                        <li>
                                                            <a href="{{ item.twitter_url.url.href }}" target="{{ tw_target }}" aria-label="Twitter / X">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 640 640" fill="currentColor"><path d="M453.2 112L523.8 112L369.6 288.2L551 528L409 528L297.7 382.6L170.5 528L99.8 528L264.7 339.5L90.8 112L236.4 112L336.9 244.9L453.2 112zM428.4 485.8L467.5 485.8L215.1 152L173.1 152L428.4 485.8z"/></svg>
                                                            </a>
                                                        </li>
                                                    {% endif %}

                                                    {% if item.instagram_url.url.href %}
                                                        {% set ig_target = '_blank' if item.instagram_url.open_in_new_tab else '_self' %}
                                                        <li>
                                                            <a href="{{ item.instagram_url.url.href }}" target="{{ ig_target }}" aria-label="Instagram">
                                                                <i class="fa-brands fa-instagram"></i>
                                                            </a>
                                                        </li>
                                                    {% endif %}

                                                    {% if item.linkedin_url.url.href %}
                                                        {% set li_target = '_blank' if item.linkedin_url.open_in_new_tab else '_self' %}
                                                        <li>
                                                            <a href="{{ item.linkedin_url.url.href }}" target="{{ li_target }}" aria-label="LinkedIn">
                                                                <i class="fa-brands fa-linkedin-in"></i>
                                                            </a>
                                                        </li>
                                                    {% endif %}

                                                    {% if item.facebook_url.url.href %}
                                                        {% set fb_target = '_blank' if item.facebook_url.open_in_new_tab else '_self' %}
                                                        <li>
                                                            <a href="{{ item.facebook_url.url.href }}" target="{{ fb_target }}" aria-label="Facebook">
                                                                <i class="fa-brands fa-facebook-f"></i>
                                                            </a>
                                                        </li>
                                                    {% endif %}

                                                    {% if item.github_url.url.href %}
                                                        {% set gh_target = '_blank' if item.github_url.open_in_new_tab else '_self' %}
                                                        <li>
                                                            <a href="{{ item.github_url.url.href }}" target="{{ gh_target }}" aria-label="GitHub">
                                                                <i class="fa-brands fa-github"></i>
                                                            </a>
                                                        </li>
                                                    {% endif %}

                                                    {% if item.youtube_url.url.href %}
                                                        {% set yt_target = '_blank' if item.youtube_url.open_in_new_tab else '_self' %}
                                                        <li>
                                                            <a href="{{ item.youtube_url.url.href }}" target="{{ yt_target }}" aria-label="YouTube">
                                                                <i class="fa-brands fa-youtube"></i>
                                                            </a>
                                                        </li>
                                                    {% endif %}

                                                    {% if item.dribbble_url.url.href %}
                                                        {% set dr_target = '_blank' if item.dribbble_url.open_in_new_tab else '_self' %}
                                                        <li>
                                                            <a href="{{ item.dribbble_url.url.href }}" target="{{ dr_target }}" aria-label="Dribbble">
                                                                <i class="fa-brands fa-dribbble"></i>
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                {% else %}
                                                    <li><a href="#" aria-label="X / Twitter"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 640 640" fill="currentColor"><path d="M453.2 112L523.8 112L369.6 288.2L551 528L409 528L297.7 382.6L170.5 528L99.8 528L264.7 339.5L90.8 112L236.4 112L336.9 244.9L453.2 112zM428.4 485.8L467.5 485.8L215.1 152L173.1 152L428.4 485.8z"/></svg></a></li>
                                                    <li><a href="#" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a></li>
                                                    <li><a href="#" aria-label="LinkedIn"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                                    <li><a href="#" aria-label="Behance"><i class="fa-brands fa-behance"></i></a></li>
                                                    <li><a href="#" aria-label="Pinterest"><i class="fa-brands fa-pinterest-p"></i></a></li>
                                                {% endif %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
<!-- Team area end -->
 