<!--
  templateType: page
  isAvailableForNewContent: true
  label: About
  screenshotPath: ../images/template-previews/about.png
-->

{% extends "./layouts/base.html" %}

{% block body %}

<main>

    {# Breadcrumb Banner Module #}
    {% module "about_breadcrumb" path="../modules/breadcrumb.module" label="Breadcrumb Banner", title="About Us", current_page_title="About Us" %}

    <!-- About area start -->
    <section class="ew-about-area pt-124 pb-130">
        <div class="container container-1617">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ew-section-title">
                        <span>About Enowick</span>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="ew-about-text">
                        <h2>A Full-Service Digital Agency Delivering Exceptional Web, AI &amp; Growth Solutions Across India.</h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ew-about-shape">
                        <img src="{{ get_asset_url('../images/about/shape.png') }}" alt="Enowick - Years of digital excellence">
                        <div class="ew-about-text3">
                            <h3>5+</h3>
                            <span>Years Of Excellence</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="ew-about-box">
                        <div class="ew-about-img">
                            <img src="{{ get_asset_url('../images/about/about-1.jpg') }}" alt="Enowick team at work - web development and digital solutions">
                            <img class="ew-about-img2" src="{{ get_asset_url('../images/about/about-2.jpg') }}"
                                alt="Enowick office - digital agency Ghaziabad">
                        </div>
                        <div class="ew-about-main">
                            <img src="{{ get_asset_url('../images/about/about-3.png') }}" alt="Enowick milestone">
                            <h1>200+</h1>
                            <h2>Projects Delivered</h2>
                            <p>From startups in Ghaziabad to enterprises across India, Enowick transforms digital visions into powerful, growth-driving realities.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About area end -->

    <!-- Brand area start -->
    {% module "brand_logos"
    path="../modules/brand-logos",
    label="Brand Logos",
    style_variant="light_bg"
    %}
    <!-- Brand area end -->

    <!-- Video area Start -->
    <div class="ew-video-area" data-background="{{ get_asset_url('../images/video/bg.jpg') }}"
        style="background-image: url('{{ get_asset_url('../images/video/bg.jpg') }}');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ew-video-icon">
                        <div class="ew-video-icon-inner">
                            <a class="popup-video ew-about-playbtn" href="https://www.youtube.com/watch?v=MLpWrANjFbI"><i class="fa-solid fa-play"></i></a>
                            <div class="ew-video-shape">
                                <img class="rotate2" src="{{ get_asset_url('../images/video/shape.png') }}" alt="Watch Enowick story">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video area End -->

    <!-- Counter Area Start -->
    <section class="ew-counter-area pt-130 pb-124">
        <div class="container container-1617">
            <div class="ew-counter-wrapper">
                <div class="ew-counter-wrapper-box">
                    <div class="ew-counter-box">
                        <div class="ew-counter-text">
                            <h1 data-purecounter-duration="1" data-purecounter-end="200" class="purecounter">200</h1>
                            <h2>+</h2>
                            <span>Projects Delivered</span>
                        </div>
                    </div>
                    <div class="ew-counter-box counter-mt">
                        <div class="ew-counter-text">
                            <h1 data-purecounter-duration="1" data-purecounter-end="150" class="purecounter">150</h1>
                            <h2>+</h2>
                            <span>Happy Clients</span>
                        </div>
                    </div>
                    <div class="ew-counter-box counter-mt">
                        <div class="ew-counter-text">
                            <h1 data-purecounter-duration="1" data-purecounter-end="5" class="purecounter">5</h1>
                            <h2>+</h2>
                            <span>Years Experience</span>
                        </div>
                    </div>
                    <div class="ew-counter-box counter-mt">
                        <div class="ew-counter-text">
                            <h1 data-purecounter-duration="1" data-purecounter-end="98" class="purecounter">98</h1>
                            <span>% Client Satisfaction</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Counter Area End -->

    <!-- Testimonial area start -->
    <section class="ew-testimonial-area pt-124">
        <div class="container container-1617">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ew-testimonial-shape">
                        <img class="rotate2" src="{{ get_asset_url('../images/testimonial/shape-text.png') }}" alt="Testimonial Shape">
                        <div class="ew-testimonial-icon">
                            <img src="{{ get_asset_url('../images/testimonial/Icon.svg') }}" alt="Testimonial Icon">
                        </div>
                    </div>                                    
                </div>
                <div class="col-lg-8 position-relative">
                    <div class="swiper ew-testimonial card-testimonial">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="ew-testimonial-box">
                                    <div class="ew-testimonial-text">
                                        <h2>“Enowick team quickly understood our requirements <br class="d-none d-xxl-block"> and were proactive and flexible with support and <br class="d-none d-xxl-block"> ongoing complex developments. You can definitely trust <br class="d-none d-xxl-block"> them for complex project requirements as they are <br class="d-none d-xxl-block"> top-notch in their field.”</h2>
                                    </div>
                                    <div class="ew-testimonial-main">
                                        <div class="ew-testimonial-thumb">
                                            <img src="{{ get_asset_url('../images/testimonial/testimonial1.jpg') }}" alt="Client photo">
                                        </div>
                                        <div class="ew-testimonial-address">
                                            <h3>Abu Talha</h3>
                                            <span>Senior Marketing Manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="ew-testimonial-box">
                                    <div class="ew-testimonial-text">
                                        <h2>“Enowick team quickly understood our requirements <br class="d-none d-xxl-block"> and were proactive and flexible with support and <br class="d-none d-xxl-block"> ongoing complex developments. You can definitely trust <br class="d-none d-xxl-block"> them for complex project requirements as they are <br class="d-none d-xxl-block"> top-notch in their field.”</h2>
                                    </div>
                                    <div class="ew-testimonial-main">
                                        <div class="ew-testimonial-thumb">
                                            <img src="{{ get_asset_url('../images/testimonial/testimonial1.jpg') }}" alt="Client photo">
                                        </div>
                                        <div class="ew-testimonial-address">
                                            <h3>Abu Talha</h3>
                                            <span>Senior Marketing Manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="ew-testimonial-box">
                                    <div class="ew-testimonial-text">
                                        <h2>“Enowick team quickly understood our requirements <br class="d-none d-xxl-block"> and were proactive and flexible with support and <br class="d-none d-xxl-block"> ongoing complex developments. You can definitely trust <br class="d-none d-xxl-block"> them for complex project requirements as they are <br class="d-none d-xxl-block"> top-notch in their field.”</h2>
                                    </div>
                                    <div class="ew-testimonial-main">
                                        <div class="ew-testimonial-thumb">
                                            <img src="{{ get_asset_url('../images/testimonial/testimonial2.jpg') }}" alt="Client photo">
                                        </div>
                                        <div class="ew-testimonial-address">
                                            <h3>Jinnira Alam</h3>
                                            <span>Senior Marketing Manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ew-swiper-scrollbar"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial area end -->

    <!-- Award area start -->
    <section class="ew-award-area pb-95">
        <div class="container container-1617">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ew-award-text">
                        <h3>Awards</h3>
                    </div>
                    <div class="ew-award-items">
                        <p class="group">Winner - Best eCommerce Websites</p> 
                        <p class="time">2022</p>
                        <p class="award">NY. America</p>                                 
                    </div>
                    <div class="ew-award-items">
                        <p class="group">Awarded - Top Agency in United State</p> 
                        <p class="time">2023</p>
                        <p class="award">NY. America</p>                                 
                    </div>
                    <div class="ew-award-items">
                        <p class="group">Mentioned - Honorable Mentioned</p> 
                        <p class="time">2024</p>
                        <p class="award">NY. America</p>                                 
                    </div>
                    <div class="ew-award-items">
                        <p class="group">Winner - Featured App Design of the Week</p> 
                        <p class="time">2025</p>
                        <p class="award">NY. America</p>                                 
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Award area end -->

    <!-- Team area start -->
    {% module "team_section"
      path="../modules/team-section.module",
      label="Team Section"
    %}
    <!-- Team area end -->

</main>

{% endblock body %} 