<!--
  templateType: blog_listing
  isAvailableForNewContent: true
  label: Blog Listing
  screenshotPath: ../images/template-previews/blog-index.png
-->
{% extends "./layouts/base.html" %}

{% block body %}
{#
dipak
 #}
<main>

    {# Breadcrumb Banner Module #}
    {% module "blog_breadcrumb" path="../modules/breadcrumb.module" label="Breadcrumb Banner", title="Our Blog", current_page_title="Our Blog" %}

    <!-- Blog Area Start -->
    <section class="ew-blog-3-area pt-130 pb-130">
        <div class="container container-1617">
            <div class="row">
                {% for content in contents %}
                    <div class="col-lg-4">
                        <div class="ew-blog-3-box text-center mb-40">
                            <div class="ew-blog-3-thumb">
                                {% if content.featured_image %}
                                    <img src="{{ content.featured_image }}" alt="{{ content.name }}">
                                {% else %}
                                    <img src="{{ get_asset_url('../images/blog/blog9.jpg') }}" alt="{{ content.name }}">
                                {% endif %}
                                <div class="ew-blog-3-text blog-3-text2">
                                    {% if content.topic_list %}
                                        <span class="project-dot">{{ content.topic_list[0].name }}</span>
                                    {% else %}
                                        <span class="project-dot">Insight</span>
                                    {% endif %}
                                    <span>{{ content.publish_date|datetimeformat('%b %e, %Y') }}</span>
                                    <h3><a class="underline-black" href="{{ content.absolute_url }}">{{ content.name }}</a></h3>
                                    <span><a href="{{ content.absolute_url }}">Read more <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 7H13M13 7L7 1M13 7L7 13" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-lg-4">
                        <div class="ew-blog-3-box text-center mb-40">
                            <div class="ew-blog-3-thumb">
                                <img src="{{ get_asset_url('../images/blog/blog9.jpg') }}" alt="blog">
                                <div class="ew-blog-3-text blog-3-text2">
                                    <span class="project-dot">Branding</span>
                                    <span>March 24, 2026</span>
                                    <h3><a class="underline-black" href="#">Reveal business opportunities with our brand audit</a></h3>
                                    <span><a href="#">Read more <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 7H13M13 7L7 1M13 7L7 13" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ew-blog-3-box text-center mb-40">
                            <div class="ew-blog-3-thumb">
                                <img src="{{ get_asset_url('../images/blog/blog10.jpg') }}" alt="blog">
                                <div class="ew-blog-3-text blog-3-text2">
                                    <span class="project-dot">Marketing</span>
                                    <span>March 24, 2026</span>
                                    <h3><a class="underline-black" href="#">Future of Digital Marketing Trends for Business</a></h3>
                                    <span><a href="#">Read more <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 7H13M13 7L7 1M13 7L7 13" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ew-blog-3-box text-center mb-40">
                            <div class="ew-blog-3-thumb">
                                <img src="{{ get_asset_url('../images/blog/blog11.jpg') }}" alt="blog">
                                <div class="ew-blog-3-text blog-3-text2">
                                    <span class="project-dot">AI & Design</span>
                                    <span>March 24, 2026</span>
                                    <h3><a class="underline-black" href="#">How Enowick is Revolutionising AI-Driven Creative Workflows</a></h3>
                                    <span><a href="#">Read more <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 7H13M13 7L7 1M13 7L7 13" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Blog Area End -->

</main>

{% endblock body %}
