{% set logo_src = module.logo_image.src if module.logo_image.src else (brand_settings.logo.src if brand_settings.logo.src else get_asset_url('../../images/logo/mindlayer-logo.png')) %}
{% set logo_alt = module.logo_image.alt if module.logo_image.alt else 'logo' %}
{% set logo_href = module.logo_url.url.href if (module.logo_url.url and module.logo_url.url.href) else '/' %}

{% set offcanvas_logo_1 = module.offcanvas_logo_dark.src if module.offcanvas_logo_dark.src else get_asset_url('../../images/logo/mindlayer-logo.png') %}
{% set offcanvas_logo_2 = module.offcanvas_logo_light.src if module.offcanvas_logo_light.src else get_asset_url('../../images/logo/mindlayer-logo.png') %}

{% set nav = menu(module.menu, "site_root").children if module.menu else [] %}

{% macro render_menu_item(link) %}
    <li class="{{ 'has-dropdown' if link.children and link.children|length > 0 else '' }}">
        <a href="{{ link.url if link.url else '#' }}">{{ link.label }}</a>
        {% if link.children and link.children|length > 0 %}
            <ul class="ew-submenu submenu">
                {% for sublink in link.children %}
                    {{ render_menu_item(sublink) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

<!-- header area start -->
<div id="header-sticky-black" class="ew-header-area header-transparent ew-header-3-area">
    <div class="container container-1619">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="ew-header-3-main">
                    <div class="ew-header-logo">
                        <a href="{{ logo_href }}">
                            <img data-width="167" class="logo-black" src="{{ logo_src }}" alt="{{ logo_alt }}">
                        </a>
                    </div>
                    <div class="ew-header-main ew-header-2-main ew-header-3-left">
                        <div class="ew-header-right">
                            <div class="ew-header-box d-none d-xl-block">
                                <div class="ew-header-menu ew-header-3-menu ew-header-dropdown dropdown-white-bg">
                                    <nav class="ew-mobile-menu-active">
                                        <ul>
                                            {% if nav and nav|length > 0 %}
                                                {% for link in nav %}
                                                    {{ render_menu_item(link) }}
                                                {% endfor %}
                                            {% else %}
                                                <li class="has-dropdown">
                                                    <a href="/">Home</a>
                                                    <ul class="ew-submenu submenu">
                                                        <li><a href="/">Home</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="/about">About Us</a></li>
                                                <li class="has-dropdown">
                                                    <a href="/service">Services</a>
                                                    <ul class="ew-submenu submenu">
                                                        <li><a href="/service">Our Services</a></li>
                                                        <li><a href="/service-details">Service Details</a></li>
                                                    </ul>
                                                </li>
                                                <li class="has-dropdown">
                                                    <a href="/portfolio">Portfolio</a>
                                                    <ul class="ew-submenu submenu">
                                                        <li><a href="/portfolio">Our Portfolio</a></li>
                                                        <li><a href="/portfolio-details">Portfolio Details</a></li>
                                                    </ul>
                                                </li>
                                                <li class="has-dropdown">
                                                    <a href="#">Pages</a>
                                                    <ul class="ew-submenu submenu">
                                                        <li><a href="/team">Our Team</a></li>
                                                        <li><a href="/team-details">Team Details</a></li>
                                                        <li><a href="/pricing">Pricing Plan</a></li>
                                                        <li><a href="/faq">FAQ</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="/blog">Blog</a></li>
                                                <li><a href="/contact">Contact</a></li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ew-header-2-btn-main">
                        {% if module.show_search %}
                            <div class="ew-header-search-box d-none d-md-block">
                                <button class="ew-header-search ew-search-open-btn">
                                    <span>
                                        <img src="{{ get_asset_url('../../images/header/search.svg') }}" alt="Search">
                                    </span>
                                    <span class="ew-header-search-title header-3-title">Search</span>
                                </button>
                            </div>
                        {% endif %}
                        <div class="ew-header-2-bar ew-header-3-bar">
                            <button class="ew-header-2-bar-inner ew-header-3-bar-inner ew-offcanvas-open-btn">
                                <span class="line-one"></span>
                                <span class="line-two"></span>
                                <span class="line-three"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- header area end -->

<!-- ew-offcanvas-area-start -->
<div class="ew-offcanvas-area">
    <div class="ew-offcanvas-wrapper">
        <div class="ew-offcanvas-top d-flex align-items-center justify-content-between">
            <div class="ew-offcanvas-logo">
                <a href="{{ logo_href }}">
                    <img class="logo-1" data-width="120" src="{{ offcanvas_logo_1 }}" alt="logo">
                    <img class="logo-2" data-width="120" src="{{ offcanvas_logo_2 }}" alt="logo">
                </a>
            </div>
            <div class="ew-offcanvas-close">
                <button class="ew-offcanvas-close-btn">
                    <svg width="37" height="38" viewBox="0 0 37 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.19141 9.80762L27.5762 28.1924" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M9.19141 28.1924L27.5762 9.80761" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="ew-offcanvas-main">
            <div class="ew-offcanvas-content d-none d-xl-block">
                <h3 class="ew-offcanvas-title">{% if module.offcanvas_title %}{{ module.offcanvas_title }}{% else %}About Us{% endif %}</h3>
                <p>{% if module.offcanvas_text %}{{ module.offcanvas_text }}{% else %}We are digital agency that helps businesses develop immersive experiences.{% endif %}</p>
            </div>
            <div class="ew-offcanvas-menu d-xl-none">
                <nav></nav>
            </div>
            <div class="ew-offcanvas-gallery d-none d-xl-block">
                <div class="row gx-2">
                    {% if module.gallery_images and module.gallery_images|length > 0 %}
                        {% for g_item in module.gallery_images %}
                            {% set default_g_num = ((loop.index - 1) % 4) + 1 %}
                            {% set g_src = g_item.gallery_img.src if g_item.gallery_img.src else get_asset_url('../../images/offcanvas/offcanvas-' ~ default_g_num ~ '.jpg') %}
                            {% set g_alt = g_item.gallery_img.alt if g_item.gallery_img.alt else 'gallery image' %}
                            <div class="col-md-3 col-3">
                                <div class="ew-offcanvas-gallery-img fix">
                                    <a class="popup-image" href="{{ g_src }}"><img src="{{ g_src }}" alt="{{ g_alt }}"></a>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="col-md-3 col-3">
                            <div class="ew-offcanvas-gallery-img fix">
                                <a class="popup-image" href="{{ get_asset_url('../../images/offcanvas/offcanvas-1.jpg') }}"><img src="{{ get_asset_url('../../images/offcanvas/offcanvas-1.jpg') }}" alt="image"></a>
                            </div>
                        </div>
                        <div class="col-md-3 col-3">
                            <div class="ew-offcanvas-gallery-img fix">
                                <a class="popup-image" href="{{ get_asset_url('../../images/offcanvas/offcanvas-2.jpg') }}"><img src="{{ get_asset_url('../../images/offcanvas/offcanvas-2.jpg') }}" alt="image"></a>
                            </div>
                        </div>
                        <div class="col-md-3 col-3">
                            <div class="ew-offcanvas-gallery-img fix">
                                <a class="popup-image" href="{{ get_asset_url('../../images/offcanvas/offcanvas-3.jpg') }}"><img src="{{ get_asset_url('../../images/offcanvas/offcanvas-3.jpg') }}" alt="image"></a>
                            </div>
                        </div>
                        <div class="col-md-3 col-3">
                            <div class="ew-offcanvas-gallery-img fix">
                                <a class="popup-image" href="{{ get_asset_url('../../images/offcanvas/offcanvas-4.jpg') }}"><img src="{{ get_asset_url('../../images/offcanvas/offcanvas-4.jpg') }}" alt="image"></a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="ew-offcanvas-contact">
                <h3 class="ew-offcanvas-title">Contact Info</h3>
                <ul>
                    {% if module.offcanvas_phone %}
                        <li><a href="tel:{{ module.offcanvas_phone|replace(' ', '') }}">{{ module.offcanvas_phone }}</a></li>
                    {% else %}
                        <li><a href="tel:+918826754759">+91 88267 54759</a></li>
                    {% endif %}
                    {% if module.offcanvas_email %}
                        <li><a href="mailto:{{ module.offcanvas_email }}">{{ module.offcanvas_email }}</a></li>
                    {% else %}
                        <li><a href="mailto:hello@enowick.com">hello@enowick.com</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="ew-offcanvas-social">
                <h3 class="ew-offcanvas-title sm">Follow Us</h3>
                <ul>
                    <li>
                        <a href="https://www.instagram.com/enowick.official" target="_blank" rel="noopener" aria-label="Instagram">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.25 1.5H4.75C2.95507 1.5 1.5 2.95507 1.5 4.75V11.25C1.5 13.0449 2.95507 14.5 4.75 14.5H11.25C13.0449 14.5 14.5 13.0449 14.5 11.25V4.75C14.5 2.95507 13.0449 1.5 11.25 1.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M10.6016 7.5907C10.6818 8.13166 10.5894 8.68414 10.3375 9.16955C10.0856 9.65497 9.68711 10.0486 9.19862 10.2945C8.71014 10.5404 8.15656 10.6259 7.61663 10.5391C7.0767 10.4522 6.57791 10.1972 6.19121 9.81055C5.80451 9.42385 5.54959 8.92506 5.46271 8.38513C5.37583 7.8452 5.46141 7.29163 5.70728 6.80314C5.95315 6.31465 6.34679 5.91613 6.83221 5.66425C7.31763 5.41238 7.87011 5.31998 8.41107 5.4002C8.96287 5.48202 9.47372 5.73915 9.86817 6.1336C10.2626 6.52804 10.5197 7.0389 10.6016 7.5907Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M11.5742 4.42578H11.5842" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://x.com/enowick" target="_blank" rel="noopener" aria-label="Twitter / X">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
                                <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/enowick.official/" target="_blank" rel="noopener" aria-label="Facebook">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                                <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"/>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/enowick" target="_blank" rel="noopener" aria-label="LinkedIn">
                            <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.2505 13.25V13.2429M13.2536 13.25H13.2474H13.2536ZM13.2536 8.54444C13.2536 7.21444 12.1762 6.13696 10.8462 6.13696C9.51616 6.13696 8.43867 7.21444 8.43867 8.54444V13.25H4.75V3.75H8.43867V5.00696C9.10267 4.14896 10.1558 3.60742 11.3283 3.60742C13.5658 3.60742 15.3809 5.42253 15.3809 7.66003V13.25H11.6922V8.54444H13.2536Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1.5 3.75H5.18867V13.25H1.5V3.75Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M3.34434 2.18696C4.36294 2.18696 5.18867 1.36123 5.18867 0.342627C5.18867 -0.675977 4.36294 -1.50171 3.34434 -1.50171C2.32573 -1.50171 1.5 -0.675977 1.5 0.342627C1.5 1.36123 2.32573 2.18696 3.34434 2.18696Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas-overlay"></div>

<!-- search area start -->
{% if module.show_search %}
<div class="ew-search-area p-relative">
    <div class="ew-search-close">
        <button class="ew-search-close-btn">
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="path-1" d="M11 1L1 11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path class="path-2" d="M1 1L11 11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </button>
    </div>
    <div class="container container-1230">
        <div class="row">
            <div class="ew-search-wrapper">
                <div class="col-lg-8">
                    <div class="ew-search-content">
                        <div class="search p-relative">
                            <form action="/hs-search-results" method="get">
                                <input type="text" name="q" class="search-input" placeholder="Search...">
                                <button type="submit" class="ew-search-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M18.0508 18.05L23.0009 23" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M20.8004 10.9C20.8004 5.43237 16.3679 1 10.9002 1C5.43246 1 1 5.43237 1 10.9C1 16.3676 5.43246 20.7999 10.9002 20.7999C16.3679 20.7999 20.8004 16.3676 20.8004 10.9Z" stroke="currentColor" stroke-width="2" stroke-linejoin="round" />
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="body-overlay"></div>
{% endif %}
<!-- search area end -->
 