{% set bg_img = module.background_image.src if module.background_image.src else get_asset_url('../../images/hero/bg3.jpg') %}
{% set shape_1 = module.shape_image_1.src if module.shape_image_1.src else get_asset_url('../../images/hero/shape4.png') %}
{% set shape_2 = module.shape_image_2.src if module.shape_image_2.src else get_asset_url('../../images/hero/shape3.png') %}

<section class="ew-hero-3-area" data-background="{{ bg_img }}" style="background-image: url('{{ bg_img }}');">
    <div class="container container-1617">
        <div class="row">
            <div class="col-lg-12">
                <div class="ew-hero-3-text">
                    {% if module.heading %}
                        {% set heading_html = module.heading %}
                        {% if '<span>' in heading_html and not ('rotate2' in heading_html) %}
                            {% set heading_html = heading_html|replace('<span>', '<span> <img class="rotate2" src="' ~ shape_1 ~ '" alt="shape"> ') %}
                        {% endif %}
                        <h1 class="ew-text-revel-anim">
                            {{ heading_html }}
                        </h1>
                    {% else %}
                        <h1 class="ew-text-revel-anim">Next Generation <br class="d-none d-xxl-block">
                            <span> <img class="rotate2" src="{{ shape_1 }}" alt="shape"> Digital Agency</span>
                        </h1>
                    {% endif %}
                </div>
                {% if module.subheading %}
                    <div class="ew-hero-3-p">
                        <p>{{ module.subheading|safe }}</p>
                    </div>
                {% endif %}
                {% if module.button_text %}
                    {% set href = module.button_url.url.href if module.button_url.url.href else '/portfolio' %}
                    {% set target = '_blank' if module.button_url.open_in_new_tab else '_self' %}
                    {% set rel = 'noopener' if module.button_url.open_in_new_tab else '' %}
                    <div class="ew-hero-3-btn">
                        <a class="ew-btn-one black-bg-btn" href="{{ href }}" target="{{ target }}" rel="{{ rel }}">
                            <span class="btn-text"> <span>{{ module.button_text }}</span> </span>
                            <span class="btn-icon btn-icon2"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                        </a>
                    </div>
                {% endif %}
                {% if module.badge_number %}
                    <div class="ew-hero-3-shape">
                        <img src="{{ shape_2 }}" alt="shape">
                        <h2>{{ module.badge_number }}</h2>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
 